{extend name="layout/layout"}

{block name="content"}

    <div class="mws-panel grid_8">

    	<div class="mws-panel-header">

        	<span><i class="icon-table"></i>查看旅行记录</span>
            

        </div>

        <div class="mws-panel-body no-padding">

            <table class="mws-datatable-fn mws-table">

                <thead>

                    <tr>

                        <!-- <th>ID</th> -->

                        <th>用户</th>

                        <th>旅行时间</th>
                        

                    </tr>

                </thead>

                <tbody>

                	
                    
                    <tr align="center">
                        
                        <td>小蜜瓜</td>
                        <td>2000-10-10 10:10:10</td>
                        
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
{/block}